﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="About.aspx.cs" Inherits="Prueba.Marshalls.WebForm.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
   
    <table class="table table-stripped" >
        <thead>
            <tr>
                <th>Employee Full Name</th>
                <th>Year</th>
                <th>Month</th>
                <th>Salary</th>
                <th>Employee Bonification</th>
            </tr>

        </thead>
        <tbody>

        </tbody>
    </table>
</asp:Content>
